* {
  box-sizing: border-box;
}

/*********************************** 
*      some decoration to make     *
*     it look similar to a page    *
*                                  *
************************************/

html {
  background-color: black;
}

body {
  position: relative;
  background-color: lightgray;
  padding: 1%;
  margin: 10%;
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
}

/*********************************** 
*         header section           *
*                                  *
************************************/

header {
  background-color: beige;
  width: 850px;
  height: 360px;
  margin: 0 auto;
  position: relative;
  border: 1px solid black;
}

.headerdiv {
  background-color: rgb(66, 103, 178);
  width: 850px;
  height: 310px;
  margin: auto;
}

.profilepic {
  border: 1px solid black;
  position: relative;
  top: 180px;
  left: 20px;
}

h2 {
  position: relative;
  color: aqua;
  top: 50px;
  left: 190px;
}

.headerclass {
  position: relative;
  font-size: larger;
  color: aqua;
  top: 50px;
  left: 190px;
}

/*********************************** 
*    header navigation section     *
*                                  *
************************************/

.nav1 {
  position: relative;
  top: 15px;
  text-align: right;
}

.nav1 a {
  text-decoration: none;
}

.nav2 {
  margin: 0;
  padding: 0;
  position: relative;
  top: 40px;
  left: 180px;
  text-decoration: none;
}

.nav2 a {
  text-decoration: none;
}

button {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding: 5px 20px;
  margin: 0;
  border: 1px solid black;
  background-color: beige;
  font-weight: bold;
}

/*********************************** 
*        full page container       *
*         minus the header         *
*                                  *
************************************/

.maindiv {
  border: 1px solid black;
  width: 850px;
  height: 1315px;
  padding-top: 5px;
  margin: auto;
  position: relative;
}

/*********************************** 
*      left column containers      *
*                                  *
************************************/

.divclassleft {
  border: 1px solid grey;
  background-color: beige;
  padding: 5px;
  width: 328px;
  height: 300px;
  margin: 5px 0;
  float: left;
}

/*********************************** 
*      right column containers     *
*                                  *
************************************/

.divclassright {
  border: 1px solid grey;
  background-color: beige;
  padding: 5px;
  width: 512px;
  height: 300px;
  margin: 5px 0;
  float: right;
}

/*********************************** 
*             About JD             *
*              Section             *
*                                  *
************************************/

.aboutjohndoe {
  height: 220px;
}
#aboutjohndoe1 {
  border-bottom: 1px solid grey;
  height: 10px;
}

#aboutjohndoe2 {
  height: 10px;
}

#aboutjohndoe3 {
  height: 100px;
}

#aboutjohndoe4 {
  border-top: 1px solid grey;
  height: 15px;
}

.aboutjohndoe a {
  text-decoration: none;
}

/*********************************** 
*    JD changed his cover photo    *
*             Section              *
*                                  *
************************************/

#changedcoverphoto1 {
  color: gray;
  border-bottom: 1px solid grey;
  padding: 0;
  height: 60px;
}

#changedcoverphoto2 {
  background-color: rgb(66, 103, 178);
  height: 155px;
}

#changedcoverphoto3 {
  color: rgb(66, 103, 178);
  border-top: 1px solid grey;
  padding-top: 5px;
  height: 15px;
}

.johndoechangedtheircoverphoto a {
  text-decoration: none;
}

#thumbnail {
  position: relative;
  top: -3px;
  left: 10px;
}

#changedcp1 {
  position: relative;
  top: -25px;
  left: 20px;
}

#changedcp2 {
  position: relative;
  top: -25px;
  left: 65px;
}

/*********************************** 
*       A little more About JD     *
*              Section             *
*                                  *
************************************/

.about {
  height: 160px;
}

#about1 {
  height: 15px;
  padding: 0 10px;
  font-weight: bold;
}

#about2 {
  color: rgb(66, 103, 178);
  position: relative;
  top: -10px;
}

#hradress {
  border-top: 1px solid grey;
  padding: 0;
  height: 60px;
}

#pushpin {
  float: left;
  padding: 0 5px;
  height: 25px;
  width: 25px;
}

#address1 {
  position: relative;
  top: -22px;
}

#address2 {
  position: relative;
  top: -18px;
}

#hrphone {
  border-top: 1px solid grey;
}

#phone {
  float: left;
  height: 25px;
  width: 25px;
}

#phonenumber {
  position: relative;
  top: 3px;
}

/*********************************** 
*        JD posted Section         *
*                                  *
************************************/

.johndoeposted {
  height: 220px;
}

#johndoeposted1 {
  color: gray;
  border-bottom: 1px solid grey;
  padding: 0;
  height: 60px;
}

#posted1 {
  position: relative;
  top: -25px;
  left: 20px;
}

#posted2 {
  position: relative;
  top: -25px;
  left: 65px;
}

#posted4 {
  color: rgb(66, 103, 178);
  border-top: 1px solid grey;
  padding-top: 5px;
  height: 15px;
}

.johndoeposted a {
  text-decoration: none;
}

/*********************************** 
*        JD's favorite Apps        *
*             Section              *
*                                  *
************************************/

.apps {
  height: 455px;
}

#apps1 {
  color: rgb(66, 103, 178);
  border-bottom: 1px solid grey;
}

#apps3 {
  margin-left: 10px;
}

#appswelcome1 {
  border-bottom: 1px solid grey;
}

#appswelcome2 {
  background-color: rgb(66, 103, 178);
  margin-left: 5px;
  width: 140px;
  height: 100px;
}

#appswelcome3 {
  position: relative;
  top: 40px;
  left: 160px;
}

#appsfwb1 {
  border-bottom: 1px solid grey;
}

#appsfwb2 {
  background-color: rgb(66, 103, 178);
  margin-left: 5px;
  width: 140px;
  height: 100px;
}

#appsfwb3 {
  position: relative;
  top: 40px;
  left: 160px;
}

#appslivestream2 {
  background-color: rgb(66, 103, 178);
  margin-left: 5px;
  width: 140px;
  height: 100px;
}

#appslivestream3 {
  position: relative;
  top: 40px;
  left: 160px;
}

/*********************************** 
*      JD is hosting an event,     *
*   be there or be square Section  *
*                                  *
************************************/

.jdevent {
  height: 520px;
}

#jdevent1 {
  color: gray;
  border-bottom: 1px solid grey;
}

#jdevent2 {
  position: relative;
  top: -25px;
  left: 20px;
}

#jdevent3 {
  position: relative;
  top: -25px;
  left: 65px;
}

#jdevent4 {
  background-color: rgb(66, 103, 178);
  width: 490px;
  height: 300px;
  margin: 0 auto;
}

#jdeventname {
  height: 100px;
  margin: 0 5px;
  padding: 10px;
  border: 1px solid grey;
  color: gray;
}

#jdeventname1 {
  color: rgb(66, 103, 178);
}

#jdeventname2 {
  position: relative;
  top: -10px;
}

#jdeventname3 {
  position: relative;
  top: -25px;
}

/*********************************** 
*        JD's Photo Gallery        *
*                                  *
************************************/

.photos {
  height: 390px;
}

#photos1 {
  color: rgb(66, 103, 178);
  border-bottom: 1px solid grey;
}

#photocontainer {
  margin-top: 10px;
  padding: 2.5px;
}

/*********************************** 
*        JD's gone and done it     *
*          he posted again         *
*                                  *
************************************/

.jdpostedagain {
  height: 220px;
}

#jdpostedagain1 {
  color: gray;
  border-bottom: 1px solid grey;
  padding: 0;
  height: 60px;
}

#jdpostedagain2 {
  position: relative;
  top: -25px;
  left: 20px;
}

#jdpostedagain3 {
  position: relative;
  top: -25px;
  left: 65px;
}

#jdpostedagain5 {
  color: rgb(66, 103, 178);
  border-top: 1px solid grey;
  padding-top: 5px;
  height: 15px;
}

.jdpostedagain a {
  text-decoration: none;
}

/*********************************** 
*          Footer Section          *
*                                  *
************************************/

.footer {
  font-size: small;
  color: grey;
  position: relative;
  padding: 0 5px;
}

.footer a {
  text-decoration: none;
}

#footer2 {
  position: relative;
  top: -10px;
}
